example/userDir/flows.json
[{"id":"d83779ea.f368f8","type":"tab","label":"Options","disabled":false,"info":""},{"id":"79f94315.37bdbc","type":"tab","label":"Sizing","disabled":false,"info":""},{"id":"df369905.66ee68","type":"ui_tab","z":"","name":"Options","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"46947ad.658bf84","type":"ui_group","z":"","name":"Wide","tab":"885b9584.bb0dd8","disp":true,"width":"6","collapse":false},{"id":"87576a5b.314cf8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"234c9d62.2b5452","type":"ui_link","z":"","name":"Flows","link":"https://flows.nodered.org/node/node-red-contrib-ui-led","icon":"open_in_browser","target":"newtab","order":3},{"id":"d712c6d4.71de78","type":"ui_link","z":"","name":"Github","link":"https://github.com/Adorkable/node-red-contrib-ui-led","icon":"open_in_browser","target":"newtab","order":4},{"id":"558abbce.a5aa44","type":"ui_group","z":"","name":"Mixed Type","tab":"df369905.66ee68","order":2,"disp":true,"width":"6","collapse":false},{"id":"885b9584.bb0dd8","type":"ui_tab","z":"","name":"Sizing","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"dbcc846d.45b5c8","type":"ui_group","z":"","name":"Basic","tab":"df369905.66ee68","order":1,"disp":true,"width":"6","collapse":false},{"id":"396876ec.369d7a","type":"ui_group","z":"","name":"Tall","tab":"885b9584.bb0dd8","disp":true,"width":"6","collapse":false},{"id":"271b65fe.ba368a","type":"ui_led","z":"d83779ea.f368f8","group":"dbcc846d.45b5c8","order":1,"width":"","height":"","label":"Default (red / green)","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"Default","x":360,"y":100,"wires":[]},{"id":"d8ffd877.337a48","type":"ui_button","z":"d83779ea.f368f8","name":"false","group":"dbcc846d.45b5c8","order":3,"width":0,"height":0,"passthru":false,"label":"false","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"false","payloadType":"json","topic":"","x":150,"y":80,"wires":[["271b65fe.ba368a"]]},{"id":"f15be515.aab838","type":"ui_button","z":"d83779ea.f368f8","name":"true","group":"dbcc846d.45b5c8","order":2,"width":0,"height":0,"passthru":false,"label":"true","tooltip":"","color":"white","bgcolor":"green","icon":"","payload":"true","payloadType":"json","topic":"","x":150,"y":140,"wires":[["271b65fe.ba368a"]]},{"id":"70e1b787.73a5e8","type":"ui_led","z":"d83779ea.f368f8","group":"558abbce.a5aa44","order":1,"label":"Mixed Type","colorForValue":[{"color":"black","value":"crass","valueType":"str"},{"color":"yellow","value":"nirvana","valueType":"str"},{"color":"purple","value":"prince","valueType":"str"},{"color":"green","value":"true","valueType":"bool"},{"color":"blue","value":"{\"what\":\"Check It\"}","valueType":"json"}],"name":"Mixed Type","x":590,"y":220,"wires":[]},{"id":"e129865.976bc78","type":"ui_button","z":"d83779ea.f368f8","name":"\"prince\"","group":"558abbce.a5aa44","order":2,"width":0,"height":0,"passthru":false,"label":"\"prince\"","tooltip":"","color":"white","bgcolor":"purple","icon":"","payload":"prince","payloadType":"str","topic":"","x":380,"y":200,"wires":[["70e1b787.73a5e8"]]},{"id":"ce53d961.734018","type":"ui_button","z":"d83779ea.f368f8","name":"\"crass\"","group":"558abbce.a5aa44","order":3,"width":0,"height":0,"passthru":false,"label":"\"crass\"","tooltip":"","color":"white","bgcolor":"black","icon":"","payload":"crass","payloadType":"str","topic":"","x":380,"y":260,"wires":[["70e1b787.73a5e8"]]},{"id":"c72a0854.decbb8","type":"ui_button","z":"d83779ea.f368f8","name":"\"nirvana\"","group":"558abbce.a5aa44","order":4,"width":0,"height":0,"passthru":false,"label":"\"nirvana\"","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"nirvana","payloadType":"str","topic":"","x":380,"y":320,"wires":[["70e1b787.73a5e8"]]},{"id":"8d5de918.097738","type":"ui_button","z":"d83779ea.f368f8","name":"[no match]","group":"dbcc846d.45b5c8","order":4,"width":0,"height":0,"passthru":false,"label":"[no match]","tooltip":"","color":"black","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":20,"wires":[["271b65fe.ba368a"]]},{"id":"c0df7168.69559","type":"ui_button","z":"d83779ea.f368f8","name":"[no match]","group":"558abbce.a5aa44","order":5,"width":0,"height":0,"passthru":false,"label":"[no match]","tooltip":"","color":"black","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":380,"wires":[["70e1b787.73a5e8"]]},{"id":"fa00068d.bf4408","type":"ui_button","z":"d83779ea.f368f8","name":"true","group":"558abbce.a5aa44","order":3,"width":0,"height":0,"passthru":false,"label":"true","tooltip":"","color":"white","bgcolor":"green","icon":"","payload":"true","payloadType":"json","topic":"","x":370,"y":440,"wires":[["70e1b787.73a5e8"]]},{"id":"8c6ff854.c71858","type":"ui_button","z":"d83779ea.f368f8","name":"{ \"what\": \"Check It\" }","group":"558abbce.a5aa44","order":3,"width":0,"height":0,"passthru":false,"label":"{ \"what\": \"Check It\" }","tooltip":"","color":"black","bgcolor":"blue","icon":"","payload":"{\"what\":\"Check It\"}","payloadType":"json","topic":"","x":420,"y":500,"wires":[["70e1b787.73a5e8"]]},{"id":"18f6c18.7bb303f","type":"ui_led","z":"79f94315.37bdbc","group":"396876ec.369d7a","order":1,"width":"1","height":"5","label":"","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"","x":90,"y":60,"wires":[]},{"id":"4dd3707f.db897","type":"ui_led","z":"79f94315.37bdbc","group":"46947ad.658bf84","order":2,"width":"6","height":"1","label":"6x1","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"6x1","x":290,"y":60,"wires":[]},{"id":"8e947748.05ab28","type":"ui_led","z":"79f94315.37bdbc","group":"396876ec.369d7a","order":1,"width":"2","height":"5","label":"2x5","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"2x5","x":90,"y":120,"wires":[]},{"id":"fef02acc.5e5b38","type":"ui_led","z":"79f94315.37bdbc","group":"46947ad.658bf84","order":2,"width":"6","height":"2","label":"6x2","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"6x2","x":290,"y":120,"wires":[]},{"id":"d244b7a2.70eeb8","type":"ui_led","z":"79f94315.37bdbc","group":"46947ad.658bf84","order":2,"width":"6","height":"6","label":"6x6","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"6x6","x":290,"y":180,"wires":[]},{"id":"dd5464e2.e899a8","type":"ui_led","z":"79f94315.37bdbc","group":"46947ad.658bf84","order":2,"width":"3","height":"3","label":"3x3","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"3x3","x":290,"y":240,"wires":[]},{"id":"32c350aa.5a274","type":"ui_led","z":"79f94315.37bdbc","group":"396876ec.369d7a","order":1,"width":"3","height":"5","label":"3x5","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"3x5","x":90,"y":180,"wires":[]},{"id":"298c65d5.daa7ea","type":"ui_led","z":"79f94315.37bdbc","group":"396876ec.369d7a","order":1,"width":"4","height":"5","label":"4x5","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"4x5","x":90,"y":240,"wires":[]}]