example/userDir/flows.json.backup
[{"id":"d83779ea.f368f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df369905.66ee68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"46947ad.658bf84","type":"ui_group","z":"","name":"Basic","tab":"df369905.66ee68","disp":true,"width":"6","collapse":false},{"id":"87576a5b.314cf8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"234c9d62.2b5452","type":"ui_link","z":"","name":"Flows","link":"https://flows.nodered.org/node/node-red-contrib-ui-led","icon":"open_in_browser","target":"newtab","order":2},{"id":"d712c6d4.71de78","type":"ui_link","z":"","name":"Github","link":"https://github.com/Adorkable/node-red-contrib-ui-led","icon":"open_in_browser","target":"newtab","order":3},{"id":"271b65fe.ba368a","type":"ui_led","z":"d83779ea.f368f8","group":"46947ad.658bf84","order":3,"label":"Basic","colors":[{"color":"red","value":"false"},{"color":"green","value":"true"}],"name":"Basic","x":350,"y":100,"wires":[]},{"id":"d8ffd877.337a48","type":"ui_button","z":"d83779ea.f368f8","name":"false","group":"46947ad.658bf84","order":1,"width":0,"height":0,"passthru":false,"label":"false","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"false","payloadType":"json","topic":"","x":150,"y":80,"wires":[["271b65fe.ba368a"]]},{"id":"f15be515.aab838","type":"ui_button","z":"d83779ea.f368f8","name":"true","group":"46947ad.658bf84","order":2,"width":0,"height":0,"passthru":false,"label":"true","tooltip":"","color":"white","bgcolor":"green","icon":"","payload":"true","payloadType":"json","topic":"","x":150,"y":140,"wires":[["271b65fe.ba368a"]]},{"id":"70e1b787.73a5e8","type":"ui_led","z":"d83779ea.f368f8","group":"46947ad.658bf84","order":5,"label":"","colors":[{"color":"purple","value":"false"},{"color":"black","value":"true"}],"name":"","x":360,"y":240,"wires":[]},{"id":"e129865.976bc78","type":"ui_button","z":"d83779ea.f368f8","name":"false","group":"46947ad.658bf84","order":1,"width":0,"height":0,"passthru":false,"label":"false","tooltip":"","color":"white","bgcolor":"purple","icon":"","payload":"false","payloadType":"json","topic":"","x":170,"y":220,"wires":[["70e1b787.73a5e8"]]},{"id":"ce53d961.734018","type":"ui_button","z":"d83779ea.f368f8","name":"true","group":"46947ad.658bf84","order":2,"width":0,"height":0,"passthru":false,"label":"true","tooltip":"","color":"white","bgcolor":"black","icon":"","payload":"true","payloadType":"json","topic":"","x":170,"y":280,"wires":[["70e1b787.73a5e8"]]}]